*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #61cdb5;
}
.top{
    color: #ffe2a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 1.4rem;
    padding:10px 8%
}
.score{
    font-size: 1.8rem;
}

.game_container{
    width: 85%;
    align-self: center;
    flex: 3;
    padding:20px;
    margin-bottom: 30px;
    border: 2px dotted #ffe2a0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.header{
    color: white;
    padding:10px;
    font-size: 34px;
    font-weight: bolder;
    text-transform: capitalize;
}
.game_options{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.game_options>img{
    min-width: 85px;
    height: 100%;
    cursor: pointer;
    object-fit: fill;
    border-radius: 50%;
    flex-grow: 1;
    flex-basis: 75%;
    box-shadow: 1px 1px 10px black;
    transition: 600ms;
}
.game_options>img:hover{
    box-shadow: 4px 4px 20px;
    transform: scale(1.08);
}
.round_outcome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.round_outcome>img{
    min-width: 80px;
    height: 80px;
    flex: 1;
}
.result{
    padding: 0;
    margin: 0;
    text-decoration: overline;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffe2a0;
    color: #d7b85c;
    align-self: center;
}
.contact{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #d7b85c;
    font-weight: bolder;
}
.icon{
    width: fit-content;
}

@media screen and (max-width: 600px) {
    .game_options{
        width: 100%;
        gap: 20px;
    }
}